<a href="{{ path('entity.node.canonical', {'node': node.id}) }}">

  {{ title_prefix }}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {{ title_suffix }}

  {# We hide the comments and links now so that we can render them later. #}
  {{ content.field_image}}

</a>